<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Stats</h1>
    <form action="/todos/createTodo" method='POST'>
        <input type="text" placeholder="Enter Todo Item" name='todoItem'>
        <input type="submit">
    </form>
    <h2><%= user.userName %> is tracking <%= left %> item<%= left > 1 ? 's' : ''%></h2>
    <ul>
    <% todos.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                <ul>
                    <% todo.outcomes.forEach(outcome => { %>
                        <li class="outcome">
                            <p><%= outcome.description %></p>
                        </li>
                    <% }) %>  
                </ul>
                <form action="/todos/addOutcome" method='POST'>
                    <input type="text" placeholder="Add Outcome" name='outcomeItem'>
                    <input type="submit">
                </form>
                
                <button class='del'>Delete</button>
            </li>
    <% }) %>    
    </ul>

    

    

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>